# Output files
*.forward
*.backward
*.log
*.Laplace
*.Climate
*.DailyInsolInit
*.inv
*.pdf
*.bpl
*.zip
*.ps
*.gif
*.npz
*.dat
*.Ecc.Eigen
*.Inc.Eigen
SeasonalClimateFiles
*.hdf5

#files created from running tests
tests/Bpstatus/BP_Status/
tests/Bpstatus/.*
tests/CreateHDF5/BP_CreateHDF5/
tests/CreateHDF5/.*
tests/Extract/BP_Extract/
tests/Extract/.*
tests/Stats/BP_Stats/
tests/Stats/.*

.coverage

# Aux files / build info / garbage
merge-from-public.sh
merge-from-private.sh
*.pyc
*/__pycache__
*.dSYM
*.DS_Store
*.*~
vplot_config.py
*.bst
*.aux
*.bbl
*.blg
*/build
*/dist
*/*.egg-info
*.pkl
*.ipynb_checkpoints
*.track1
proxcen.pdf
vplanet.egg-info
.pytest_cache
gcov/*
*.o
*.so
*.valgrind
*.cache

# Module-specific
bigplanet/bigplanet/vabc.py
bigplanet/bigplanet/big_ml.py
bigplanet/bigplanet/bootstrap_utils.py
bigplanet.egg-info/
dist/
build/

# SCM VERSION
bigplanet/bigplanet_version.py
