# Output files
*.forward
*.backward
*.log
*.Laplace
*.Climate
*.DailyInsolInit
*.inv
*.pdf
*.bpl
*.zip
*.ps
*.gif
*.npz
*.dat
*.Ecc.Eigen
*.Inc.Eigen
SeasonalClimateFiles
*.bpa
*.bpf
*.csv

#files created from running tests
tests/Bpstatus/BP_Status/
tests/Bpstatus/.*
tests/CreateHDF5/BP_CreateHDF5/
tests/CreateHDF5/.*
tests/ExtractArchive/BP_Extract/
tests/ExtractArchive/.*
tests/Stats/BP_Stats/
tests/Stats/.*
tests/ExtractFilterArchive/BP_Extract/
tests/ExtractFilterArchive/.*
tests/ExtractFilterRawData/BP_Extract/
tests/ExtractFilterRawData/.*
tests/MD5CheckSum/BP_Extract/
tests/MD5CheckSum/.*
tests/UlyssesAggregated/BP_Extract/
tests/UlyssesAggregated/.*
tests/UlyssesForward/BP_Extract/
tests/UlyssesForward/.*
tests/SingleSim/BP_Extract/
tests/SingleSim/.*


.coverage

# Aux files / build info / garbage
merge-from-public.sh
merge-from-private.sh
*.pyc
*/__pycache__
*.dSYM
*.DS_Store
*.*~
vplot_config.py
*.bst
*.aux
*.bbl
*.blg
*/build
*/dist
*/*.egg-info
*.pkl
*.ipynb_checkpoints
*.track1
proxcen.pdf
vplanet.egg-info
.pytest_cache
gcov/*
*.o
*.so
*.valgrind
*.cache

# Module-specific
bigplanet/bigplanet/vabc.py
bigplanet/bigplanet/big_ml.py
bigplanet/bigplanet/bootstrap_utils.py
bigplanet.egg-info/
dist/
build/

# SCM VERSION
bigplanet/bigplanet_version.py
.vscode/settings.json
junit/test-results.xml
coverage.xml
tests/UlyssesAggregated/User.csv
tests/UlyssesForward/test_bpulyssessforward.py
